:root {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #880909;
  margin: 0
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.card {
  border-radius: 4px;
  background-color: #1a1a1ae0;
  margin: 1em 1em;
  text-align: center;
  flex: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #880909;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 10px;
}

button.playing {
  background-color: #1a1a1a;
  border-color: #880909;
}

button:hover {
  border-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
